<template>
    <v-layout align-start>
        <v-flex>
            <v-toolbar flat color="white">
                <v-toolbar-title>Incendio</v-toolbar-title>
                    <v-divider
                    class="mx-2"
                    inset
                    vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-text-field class="text-xs-center" v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <v-btn slot="activator" color="primary" dark class="mb-2">Nuevo</v-btn>
                        <v-card>
                            <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                            </v-card-title>
                
                            <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                  <v-flex xs12 sm12 md12>
                                    <v-text-field v-model="direccion" label="Dirección"></v-text-field>
                                </v-flex>                              
                            
                                     <v-flex xs6 sm6 md6>
                                    <v-text-field  v-model="fecha" label="Fecha de incendio">
                                    </v-text-field>
                                </v-flex>

                                <v-flex xs6 sm6 md6>
                                    <v-select v-model="bomberoId"
                                    :items="bomberos" label="Bomberos">
                                    </v-select>
                                </v-flex>                                                            
                                                              
                                <v-flex xs12 sm12 md12 v-show="valida">
                                    <div class="red--text" v-for="v in validaMensaje" :key="v" v-text="v">
                                    </div>
                                </v-flex>
                                </v-layout>
                            </v-container>
                            </v-card-text>
                
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
                                <v-btn color="blue darken-1" flat @click.native="guardar">Guardar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <v-dialog v-model="adModal" max-width="290">
                        <v-card>
                            <v-card-title class="headline" v-if="adAccion==1">¿Activar Item?</v-card-title>
                            <v-card-title class="headline" v-if="adAccion==2">¿Desactivar Item?</v-card-title>
                            <v-card-text>
                                Estás a punto de 
                                <span v-if="adAccion==1">Activar </span>
                                <span v-if="adAccion==2">Desactivar </span>
                                el ítem {{ adNombre }}
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="green darken-1" flat="flat" @click="activarDesactivarCerrar">
                                    Cancelar
                                </v-btn>
                                <v-btn v-if="adAccion==1" color="orange darken-4" flat="flat" @click="eliminar">
                                    Eliminar
                                </v-btn>
                            
                            </v-card-actions>

                        </v-card>
                    </v-dialog>
                </v-toolbar>
            <v-data-table
                :headers="headers"
                :items="articulos"
                :search="search"
                class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td class="justify-center layout px-0">
                        <v-icon
                        small
                        class="mr-2"
                        @click="editItem(props.item)"
                        >
                        edit
                        </v-icon>
                        <template v-if="props.item.condicion">
                            <v-icon
                            small
                            @click="activarDesactivarMostrar(2,props.item)"
                            >
                            block
                            </v-icon>
                        </template>
                        <template v-else>
                            <v-icon
                            small
                            @click="activarDesactivarMostrar(1,props.item)"
                            >
                            check
                            </v-icon>
                        </template>
                    </td>
                   
                    <td>{{ props.item.nombre }}</td>
                    <td>{{ props.item.apellido }}</td>
                    <td>{{ formatDate(props.item.fechaNacimiento) }}</td>
                    <td>{{ formatDate(props.item.fecha) }}</td>
                    <td>{{ props.item.direccion }}</td>
                   
                </template>
                <template slot="no-data">
                <v-btn color="primary" @click="listar">Resetear</v-btn>
                </template>
            </v-data-table>
        </v-flex>
    </v-layout>
</template>
<script>
    import axios from 'axios'
    export default {
        data(){
            return {
                articulos:[],                
                dialog: false,
                headers: [
                    { text: 'Opciones', value: 'opciones', sortable: false },
                    { text: 'Nombre', value: 'nombre' },
                    { text: 'Apellido', value: 'apellido' },
                    { text: 'Fecha Nacimiento', value: 'fechaNacimiento', sortable: false  },
                    { text: 'Fecha de Incedio', value: 'fecha', sortable: false  },
                    { text: 'Direccion', value: 'direccion', sortable: false  },
                          
                ],
                search: '',
                editedIndex: -1,
                id: '',
                bomberoId:0,
                bomberos:[                   
                ],           
                direccion: '',              
                fecha: '',
                valida: 0,
                validaMensaje:[],
                adModal: 0,
                adAccion: 0,
                adNombre: '',
                adId: ''             
            }
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Nuevo Incendio' : 'Actualizar Incendio'
            }
        },

        watch: {
            dialog (val) {
            val || this.close()
            }
        },

        created () {
            this.listar();
            this.select();
        },
        methods:{
              formatDate(dateString) {
                const options = { year: 'numeric', month: 'numeric', day: 'numeric' };
                const formattedDate = new Date(dateString).toLocaleDateString(undefined, options);
                return formattedDate;
            },
            listar(){
                let me=this;
                axios.get('api/Incendio/GetAll').then(function(response){
                   
                    me.articulos=response.data;
                }).catch(function(error){
                    console.log(error);
                });
            },
            select(){
                let me=this;
                var bomberosArray=[];
                axios.get('api/Bombero/GetAll').then(function(response){
                    console.log(response.data);
                    bomberosArray=response.data;
                    bomberosArray.map(function(x){
                        me.bomberos.push({text: x.nombre,value:x.id});
                    });
                }).catch(function(error){
                    console.log(error);
                });
            },
            editItem (item) {
                this.id=item.id;
                this.bomberoId=item.bomberoId;
                this.direccion=item.direccion;
                this.fecha=item.fecha;         
                this.editedIndex=1;
                this.dialog = true
            },
            close () {
                this.dialog = false;
                this.limpiar();
            },
            limpiar(){
                this.id="";
                this.bomberoId="";
                this.direccion="";
                this.fecha="";            
                this.editedIndex=-1;
            },
            guardar () {
                if (this.validar()){
                    return;
                }
                if (this.editedIndex > -1) {                
                    let me=this;
                    axios.put('api/Incendio/',{
                        'id':me.id,
                        'bomberoId':me.bomberoId,
                        'direccion':me.direccion,
                        'fecha': me.fecha,                        
                    }).then(function(response){
                        me.close();
                        me.listar();
                        me.limpiar();                        
                    }).catch(function(error){
                        console.log(error);
                    });
                } else {
                    let me=this;
                    axios.post('api/Incendio/',{
                         'bomberoId':me.bomberoId,
                        'direccion':me.direccion,
                        'fecha': me.fecha,  
                    }).then(function(response){
                        me.close();
                        me.listar();
                        me.limpiar();                        
                    }).catch(function(error){
                        console.log(error);
                    });
                }
            },
            validar(){
                this.valida=0;
                this.validaMensaje=[];

                if (this.direccion.length<3 || this.direccion.length>50){
                    this.validaMensaje.push("la direccion debe tener más de 3 caracteres y menos de 50 caracteres.");
                }
                if (!this.bomberoId){
                    this.validaMensaje.push("Seleccione un bombero.");
                }
                if (this.fecha.length<3){
                    this.validaMensaje.push("El campo fecha es obligatorio");
                }
               
                if (this.validaMensaje.length){
                    this.valida=1;
                }
                return this.valida;
            },
            activarDesactivarMostrar(accion,item){
                this.adModal=1;
                this.adNombre=item.nombre;
                this.adId=item.id;                
                if (accion==1){
                    this.adAccion=1;
                }
                else if (accion==2){
                    this.adAccion=2;
                }
                else{
                    this.adModal=0;
                }
            },
            activarDesactivarCerrar(){
                this.adModal=0;
            },
            eliminar(){
                let me=this;
                axios.delete('api/Incendio/'+this.adId,{}).then(function(response){
                    me.adModal=0;
                    me.adAccion=0;
                    me.adNombre="";
                    me.adId="";
                    me.listar();                       
                }).catch(function(error){
                    console.log(error);
                });
            }
         
        }        
    }
</script>
